<?xml version='1.0' encoding='UTF-8'?>
<plugin id="3D-touch-home-icon-actions" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>App 3D touch home icon actions</name>
    <author>Alaa Al Shamey</author>
    <description></description>
    <keywords></keywords>
    <license></license>
    <platform name="ios">
      <config-file target="*-Info.plist" parent="UIApplicationShortcutItems">
        <array>
            <dict>
                <key>UIApplicationShortcutItemIconFile</key>
                <string>singers</string>
                <key>UIApplicationShortcutItemTitle</key>
                <string>الإعلانات المفضلة</string>
                <key>UIApplicationShortcutItemType</key>
                <string>marketMyFavs</string>
            </dict>
            <dict>
                <key>UIApplicationShortcutItemIconType</key>
                <string>UIApplicationShortcutIconTypeHome</string>
                <key>UIApplicationShortcutItemTitle</key>
                <string>إعلاناتك</string>
                <key>UIApplicationShortcutItemType</key>
                <string>marketMyAds</string>
            </dict>
            <dict>
                <key>UIApplicationShortcutItemIconType</key>
                <string>UIApplicationShortcutIconTypeMessage</string>
                <key>UIApplicationShortcutItemTitle</key>
                <string>ردودك</string>
                <key>UIApplicationShortcutItemType</key>
                <string>marketMyThreads</string>
            </dict>
            <dict>
                <key>UIApplicationShortcutItemIconType</key>
                <string>UIApplicationShortcutIconTypeAdd</string>
                <key>UIApplicationShortcutItemTitle</key>
                <string>أضف إعلان</string>
                <key>UIApplicationShortcutItemType</key>
                <string>adForm</string>
            </dict>
        </array>
      </config-file>
      <resource-file src="singers.png" />
    </platform>
</plugin>
