<?xml version='1.0' encoding='UTF-8'?>
<plugin id="3D-touch-home-icon-actions" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>App 3D touch home icon actions</name>
    <author>Alaa Al Shamey</author>
    <description></description>
    <keywords></keywords>
    <license></license>
    <platform name="ios">
      <config-file target="*-Info.plist" parent="UIApplicationShortcutItems">
        <array>
          <dict>
              <key>UIApplicationShortcutItemIconFile</key>
              <string>Eye</string>
              <key>UIApplicationShortcutItemTitle</key>
              <string>الإعلانات المفضلة</string>
              <key>UIApplicationShortcutItemSubtitle</key>
              <string>إعلانات مميزة</string>
              <key>UIApplicationShortcutItemType</key>
              <string>marketMyFavs</string>
          </dict>
          <dict>
              <key>UIApplicationShortcutItemIconType</key>
              <string>UIApplicationShortcutIconTypeHome</string>
              <key>UIApplicationShortcutItemTitle</key>
              <string>إعلاناتك</string>
              <key>UIApplicationShortcutItemType</key>
              <string>marketMyAds</string>
          </dict>
            <dict>
              <key>UIApplicationShortcutItemIconType</key>
              <string>UIApplicationShortcutIconTypeBookmark</string>
              <key>UIApplicationShortcutItemTitle</key>
              <string>ردودك</string>
                <key>UIApplicationShortcutItemSubtitle</key>
              <string>ردودك بشكل عام</string>
              <key>UIApplicationShortcutItemType</key>
              <string>marketMyThreads</string>
          </dict>
        </array>
      </config-file>
    </platform>
</plugin>
